.db-section-data {
  background: $light-gray;
  padding: 136px 0 185px;
  @media screen and (max-width: 490px){
    padding: 100px 0 85px;
  }

  &__subtitle {
    font-weight: 900;
    font-size: 24px;
    color: $medium-gray;
    margin-bottom: 5px;
  }
  &__title {
    font-family: $second-font-family;
    color: $black;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 90px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    @media screen and (max-width: 1020px){
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    @media screen and (max-width: 770px){
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    & li {
      background: url(../img/img-sections-data-2.jpg) no-repeat 50%;
      background-size: cover;
      position: relative;
      margin-right: 30px;
      padding: 0;
      width: 30%;
      height: 363px;
      color: $white;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @media screen and (max-width: 1020px){
        width: 45%;
        height: 263px;
        margin-right: 20px;
      }
      @media screen and (max-width: 770px){
        width: 45%;
        height: 263px;
        margin-right: 10px;
      }
      @media screen and (max-width: 490px){
        width: 100%;
      }

      &:hover {
        background: url(../img/img-sections-data-1.jpg) no-repeat 50%;
        background-size: cover;
        width: 30%;
        height: 363px;
        transition: 0.6s;
      }
    }
  }

  & li a {
    color: $white;
    font-weight: 900;
    font-size: 24px;
    padding: 0 50px;
    text-align: center;
    margin-bottom: 45px;
    @media screen and (max-width: 1020px){
      font-size: 20px;
    }
    @media screen and (max-width: 770px){
      font-size: 16px;
    }
  }

  & li:hover a {
    text-decoration: none;
    color: rgba($white, .7)


  }
}
