<section class="db-section-data">
    <div class="container">
        <p class="db-section-data__subtitle">Набори даних</p>
        <h2 class="db-section-data__title">Відкриті дані</h2>
        <ul class="db-section-data__items">
            <li>
                <a href="#">Агропромисловий розвиток</a>
            </li>
            <li>
                <a href="#">Культура</a>
            </li>
            <li>
                <a href="#">Туризм</a>
            </li>
            <li>
                <a href="#">Спорт та фізична культура</a>
            </li>
            <li>
                <a href="#">Охорона здоров’я</a>
            </li>
            <li>
                <a href="#">Екологія</a>
            </li>
        </ul>
    </div>
</section>
