<section class="db-section-about">
    <div class="container">
        <div class="row">
            <div class="db-section-about__block-text col-sm-12 col-md-12 col-lg-5">
                <p class="db-section-about__subtitle">Про нас</p>
                <h2 class="db-section-about__title">
                    Lorem
                </h2>
                <p class="db-section-about__title-blue">Lorem Ipsum</p>
                <p class="db-section-about__text">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та
                    дизайні. Lorem Ipsum є, фактично,
                    стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній
                    підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в
                    електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках
                    минулого сторіччя завдяки виданню зразків шрифтів Letraset.</p>
            </div>
            <div class="db-section-about__block-item col-sm-12 col-md-12 col-lg-7">

                <ul class="db-section-about__items">
                    <li class="db-section-about__item-img">
                        <div class="db-span">
                            <span class="db-span__number">90</span>
                            <span class="db-span__name">Об’єктів</span>
                        </div>
                    </li>
                    <li class="db-section-about__item-img">
                        <div class="db-span">
                            <span class="db-span__number">90</span>
                            <span class="db-span__name">Проєктів</span>
                        </div>
                    </li>
                    <li class="db-section-about__item-img">
                        <div class="db-span">
                            <span class="db-span__number">90</span>
                            <span class="db-span__name">Ділянок</span>
                        </div>
                    </li>
                    <li class="db-section-about__item-img">
                        <div class="db-span">
                            <span class="db-span__number">90</span>
                            <span class="db-span__name">Конструкцій</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
