<section class="db-section-form">
    <div class="container">
        <h2 class="db-section-form__title">Зв’язатися з нами</h2>
        <p class="db-section-form__subtitle">У вас залишились питання? Напишіть нам.</p>
        <div class="row">
            <ul class="db-section-form__nav  col-md-4 col-lg-4">
                <li class="db-section-form__nav-item">
                    <a class="db-section-form__nav-link" href="#">
                        <img src="../assets/img/location-x2.svg" alt="location">
                        Київ
                    </a>
                </li>
                <li class="db-section-form__nav-item">
                    <a class="db-section-form__nav-link" href="#">
                        <img src="../assets/img/clock-x2.svg" alt="clock">
                        Пн-Пт 9:00-18:00
                    </a>
                </li>
                <li class="db-section-form__nav-item">
                    <a class="db-section-form__nav-link" href="tel: +044 222-33-44">
                        <img src="../assets/img/phone-x2.svg" alt="phone">
                        +044 222-33-44
                    </a>
                </li>
                <li class="db-section-form__nav-item">
                    <a class="db-section-form__nav-link" href="mailto: order@test.ua">
                        <img src="../assets/img/mail-x2.svg" alt="mail">
                        order@test.ua
                    </a>
                </li>
            </ul>
            <form action="#" class="db-form col-sm-12 col-md-6 col-lg-6">
                <div class="form-group d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group db-form__name">
                        <label for="formName">Им`я</label>
                        <input class="form-control " type="text" placeholder="Іван" id="formName">
                    </div>
                    <div class="form-group db-form__surname">
                        <label for="formName">Прізвище</label>
                        <input class="form-control" type="text" placeholder="Іванов" id="formSurname">
                    </div>
                </div>
                <div class="form-group db-form col-sm-12 col-md-12 col-lg-12">
                    <label for="formTel">Контактний телефон</label>
                    <input class="form-control" id="formTel" type="tel"
                           placeholder="380111111111">
                </div>
                <div class="form-group db-form__textarea col-sm-12 col-md-12 col-lg-12">
                    <label for="formTextarea">Повідомлення</label>
                    <textarea class="form-control"
                              id="formTextarea" rows="4" placeholder="Ваше повідомлення">
                    </textarea>
                </div>
                <button type="submit" class="db-form__button">Надіслати</button>
            </form>
        </div>
        <!-- /.row -->
    </div>
</section>
