<section class="db-section-lorem-p">
    <div class="container">
        <div class="db-section-lorem">
            <div class="db-section-lorem__block-btn">
                <button class="db-section-lorem__button" id="button-lorem1">Lorem Ipsum 1</button>
                <button class="db-section-lorem__button" id="button-lorem2">Lorem Ipsum 2</button>
            </div>
            <h2 class="db-section-lorem__title">Lorem Ipsum 1</h2>
            <div class="db-section-lorem__content">
                <div class="row">
                    <img class=" db-section-lorem__image col-lg-3" src="../assets/img/home.png" alt="home">
                    <p class="db-section-lorem__text  col-lg-5">
                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є,
                        фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та
                        склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
                        прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в
                        60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset.</p>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</section>
